@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    --bg-orange: #FA9C1F;
  
}

*{
   font-family: 'Audiowide', cursive;
}

body{
    height: 100vh;
    width: 100vw;
}

.section1{
    width: 40%;
    height: 90vh;
}

.logo-gray{
    width: 35%;
    position: absolute;
    top: 20%;
    left: 2%;
    opacity: 70%;
}

.barnav{
    position: relative;
    left: 25%;
}

.navbar-m{
    position: absolute;
    top: 30%;
    z-index: 1;
}

.item-nav{
    color: black;
    padding: 5px 20px;
}

.item-nav:hover{
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    border-radius: 3%;
    color: white !important;
    background-color: rgb(222, 62, 62) !important;
    
}

.item-nav:focus{
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    border-radius: 3%;
    color: white !important;
    background-color: rgb(222, 62, 62) !important;
    
}

.selector{
    width: 60px;
    height: 60px;
    background-color: var(--bg-orange);
    position: relative;
    transform: rotate(45deg);
    top: 20%;
    left: -6%;
    border-radius: 15px;
}

.section2{
    width: 80%;
    height: 100vh;
    position: relative;
}

.bg-orange{
    background-color: var(--bg-orange);
    clip-path: polygon(63% 0, 100% 0, 100% 100%, 27% 100%);
    position: absolute;
    height: 100%;
    width: 50%;
    left: 49%;
    z-index: 1;
}

.bg-gradient{
     background-color: rgb(26, 0, 36);
    clip-path: polygon(18% 0%, 100% 0%, 83% 100%, 3% 100%);
    height: 100%;
    width: 100rem;
    left: -6rem;
    top: 0;
    position: absolute;
    overflow: hidden;
}

.scrath-1{
    height: 43vh;
    position: absolute;
    border-left: solid 1rem rgb(108, 0, 117);
    border-radius:  0px 0px 12px 12px;
    z-index: 5;
    top: 0;
    left: 15.88rem;
    transform: skewX(-14deg); 
}

.scrath-2{
    height: 58vh;
    position: absolute;
    border-left: solid 0.5rem rgb(108, 0, 117);
    z-index: 5;
    bottom: 0;
    left: 8.55rem;
    transform: skewX(-14deg); 
}

.circle-gradient01{
    position: relative;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(27,0,122,1) 5%, rgba(26,0,36,1) 70%);
    top: 1%;
    left: 25%;
    width: 300px;
    height: 300px;
}

.circle-gradient02{
    position: relative;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(27,0,122,1) 5%, rgba(26,0,36,1) 70%);
    top: 12%;
    left: 30%;
    width: 300px;
    height: 300px;
}

.circle-gradient03{
    position: relative;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(27,0,122,1) 5%, rgba(26,0,36,1) 70%);
    top: 20%;
    left: 5%;
    width: 300px;
    height: 300px;
}

.title-down{
    color: white;
    position: absolute;
    z-index: 2;
    right: -2%;
    transform: rotate(270deg);
    top: 40%;
}

.heroes-name{
    font-size: 5rem;
}


.arrow-black{
    width: 20%;
    position: absolute;
    z-index: 5;
    right: 15%;
    bottom: 28%;
    filter: brightness(0%);
    transform: rotate(180deg);
}


.bar-top{
    position: absolute;
    right: 12%;
    top: 3rem;
    z-index: 2;
      
}

.curve{
    transform: skewX(-10deg);
}

.trace-3x4{
    width: 100%;
}

.cube-trace{
    width: 70px;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.rectangle{
    width: 14rem;
    height: 75px;
    background-color: white;
    border-radius: 10px 15px;
}

.cube1{
    width: 75px;
    background-color: white;
    height: 75px;
    border-radius: 10px 15px;
}

.cube2{
    width: 75px;
    background-color: rgb(47, 190, 226);
    height: 75px;
    border-radius: 10px 15px;
}

.heroes{
    position: absolute;
    left: 43%;
    top: 20%;
    z-index: 3;
    width: 40%;
}

.arrow{
    clip-path: polygon(80% 50%, 0 0, 0 100%);
    height: 10px;
    width: 5px;
    background-color:red
}


